<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯這個檔案以外，您也可以使用 
    Web 管理工具設定您的應用程式設定值。請使用 
    Visual Studio 中的 [網站] -> [ASP.NET 組態] 選項。
    如需完整的設定與註解清單，請參考 
    machine.config.comments (通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config) 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<!-- 以下為基本的權限管控所要連接的資料庫  -->
		<add key="ConnectionType" value="SQL"/>
		<add key="ConnectionServer" value="(local)"/>
		<add key="ConnectionDB" value="WebPub"/>
		<add key="ConnectionUser" value="lemor333"/>
		<add key="ConnectionPwd" value="333"/>
		<!-- 以下為這個方案中的基本設定  -->
		<add key="vpath" value="PyvDemoWeb"/>
		<add key="EventLogPath" value="D:\\PyvDemoSln\\EventLog\\"/>
		<add key="PageSize" value="10"/>
		<add key="superAdmin" value="administrator"/>
		<add key="superAdminEmail" value="lemor.yen@pyv.com.vn"/>
		<add key="System-Email" value="lemor.yen@pyv.com.vn"/>
		<add key="myServer" value="http://localhost/"/>
		<!--PFSConfig.xml 帶入PFSBaseWeb中的路徑-->
		<add key="PFSConfigPath" value="D:\\WebPub\\PFSXml\\PFSConfig.xml"/>
		<add key="PFSBaseWeb" value="http://172.22.5.12:8000/PfsBaseWeb/"/>
		<add key="ApplyManagerName" value="LemorYen"/>
		<add key="ApplyManagerEmail" value="lemor.yen@pyv.com.vn"/>
		<!-- 以下的Key值是使用Ap_ID & - & Name 或 Email來表示當使用者申請帳號時
			所要發送的管理者，每一個AP都應該會有一對。
        -->
		<add key="System-Email" value="lemor.yen@pyv.com.vn"/>
		<add key="104-Name" value="顏嘉皇"/>
		<add key="104-Email" value="lemor.yen@pyv.com.vn"/>
		<add key="186-Name" value="顏嘉皇"/>
		<add key="186-Email" value="lemor.yen@pyv.com.vn"/>

		<!-- 以下的Key值是使用Ap_ID & - & UserMultiFact或 FactByGroup來表示當使用者在做廠別管理時
		所要做的設定UserMultiFact表示是否可以做多對多的設定
		而FactByGroup表示是否要區分事業群，每一個AP都應該會有一對。
		若是沒有做設定則Default FactByGroup is N, UserMultiFact is Y
        -->
		<add key="186-UserMultiFact" value="Y"/>
		<add key="186-FactByGroup" value="N"/>
		<add key="186-FactFilter" value="N"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<globalization requestEncoding="big5" responseEncoding="big5"/>
		
	</system.web>
</configuration>
