BODY
{
    color: black;
    font-family: Verdana;
    font-size: 9pt;
    margin-left: 0px;
    margin-top: 0px;
    overflow: auto;
    scrollbar-face-color: #FFFFFF;
    scrollbar-shadow-color: #C3C3C4;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #C3C3C4;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #cccccc;
}
TABLE
{
    font-family: Verdana;
    font-size: 9pt;
}
.SourceTitlePanel
{
    background-color: #cccc99;
    color: #006699;
    font-family: Verdana, Arial;
    font-size: 14pt;
    font-weight: bolder;
    height: 30px;
    letter-spacing: 1pt;
    padding: 6px;
}
.SourcePanel
{
    color: black;
    font-family: 'Lucida Console';
    font-size: 9pt;
    padding: 4px;
}

.abort
{
    color: red;
    padding-left: 10px;
}
.info
{
    color: green;
    font-family: Verdana, Arial;
}
.smalltext
{
    color: gray;
    font-family: Verdana, Arial;
    font-size: 9pt;
    line-height: 140%;
}
TD.StockHeading
{
    border-bottom: black 1px inset;
    background-color: white;
    color: black;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    font-weight: bold;
    padding-left: 3pt;
    padding-right: 0pt;
}
TD.StockHeadingAmt
{
    border-bottom: black 1px inset;
    background-color: white;
    color: black;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    font-weight: bold;
    padding-left: 3pt;
    padding-right: 0pt;
    text-align: right;
}
TD.StockItem
{
    border-right: silver thin solid;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    height: 14pt;
    padding-left: 3pt;
    padding-right: 0pt;
}
TD.StockItemAmt
{
    border-right: silver thin solid;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    height: 14pt;
    padding-left: 3pt;
    padding-right: 0pt;
    text-align: right;
}
TD.StockSpace
{
    background-color: #999999;
    font-family: Tahoma, Arial;
    font-size: x-small;
}
TD.StockItemNoBorder
{
    border-top: #ffffe8 thick solid;
    border-right: #FFCC00 thin solid;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    height: 14pt;
    padding-left: 3pt;
    padding-right: 0pt;
}
TD.StockItemNoBorderAmt
{
    border-top: #ffffe8 thick solid;
    border-right: #FFCC00 thin solid;
    font-family: Tahoma, Arial, Verdana;
    font-size: xx-small;
    height: 14pt;
    padding-left: 3pt;
    padding-right: 0pt;
    text-align: right;
}
SPAN.BulletNumber
{
    color: #cc9933;
    font-family: Verdana;
    font-size: medium;
    font-weight: bold;
}
.button
{
    color: #000000;
    background: #cccccc;
    border: 1px solid #000000;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFFFF', EndColorStr='#FFCCCCCC');
    font-size: 9pt;
    padding: 0 0 0 2pt;
    font-weight: lighter;
    font-family: verdana;
    padding:4px 6px 4px 6px;
    cursor: pointer;
}
.section
{
    color: #cc6600;
    font-family: Verdana;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.loginsection
{
    color: #ffcc66;
    font-family: Verdana;
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
H1
{
    color: midnightblue;
    font-size: 10pt;
}
H2
{
    color: #cc9933;
    font-family: Verdana;
    font-size: medium;
    font-weight: bold;
}
H3
{
    color: #cc9933;
    font-family: Verdana;
    font-size: medium;
    font-weight: bold;
}
TD.navmenu
{
    color: chocolate;
    cursor: default;
    font-family: Verdana, Arial;
    font-size: 9pt;
    font-weight: bolder;
}

TD.title
{
    background-color: #cccc99;
    color: #006699;
    font-family: Verdana, Arial;
    font-size: 16pt;
    font-weight: bolder;
    height: 30px;
    letter-spacing: 1pt;
    padding-right: 20px;
    text-align: right;
}
INPUT
{
    font-size: 9pt;
}
TD.menuitemover
{
    color: white;
    cursor: pointer;
    font-family: Verdana, Arial;
    font-size: 9pt;
    padding-left: 10px;
}
TD.menuheading
{
    font-weight: bold;
    font-size: 10pt;
    cursor: default;
    color: chocolate;
    font-style: italic;
    font-family: Verdana, Arial;
}

SPAN.error
{
    color: red;
    font-family: Verdana, Arial;
}
A
{
    font-weight: normal;
    color: #7A1A7A; /*firebrick*/
    font-family: Verdana, Arial;
    text-decoration: none;
}
A:visited
{
    color: #663333;
}
A:active
{
    color: lawngreen;
}
A:hover
{
    font-weight: bold;
    color: tomato;
    background-color: #ffffcc;
}
A.error
{
    color: red;
    text-decoration: none;
    font-family: Verdana, Arial;
}
#error A:visited
{
    color: red;
}
#error A:active
{
    color: red;
    text-decoration: underline;
}
#error A:hover
{
    color: red;
    text-decoration: underline;
}
Table.topmenu TD
{
    /*padding-left: 40px;*/
    font-weight: bold;
    font-size: 11pt;
    padding-bottom: 0px;
    color: red;
    margin-right: 10px;
    font-family: Verdana;
}
Table.topmenu A
{
    color: #000000;
    text-decoration: none;
}
Table.topmenu A:visited
{
    color: #000000;
}
Table.topmenu A:active
{
    color: #000000;
    text-decoration: underline;
}
Table.topmenu A:hover
{
    color: black;
    text-decoration: underline;
}
#menu A
{
    color: white;
    text-decoration: none;
}
#menu A:visited
{
    color: white;
}
#menu A:active
{
    color: #006699;
    text-decoration: underline;
}
#menu A:hover
{
    color: black;
    text-decoration: underline;
}

A.menuitem
{
    color: black;
    padding-left: 10px;
    text-align: right;
}
A.menuitem:hover
{
    color: #FFCC00;
    padding-left: 10px;
    text-align: right;
}

TD.menuitem
{
    padding-left: 10px;
    font-size: 9pt;
    color: limegreen;
    text-align: right;
}

TD.ColumnHeader
{
    background-color: gray;
    color: white;
    font-family: Verdana, Arial;
}
TD.ColumnHeaderAmt
{
    background-color: gray;
    color: white;
    font-family: Verdana, Arial;
    text-align: right;
}
TD.logo
{
    background-color: #006699;
    background-image: url(images/FMBanner.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: right;
}

TD.loginBanner
{
    background-color: #006699;
    background-image: url(images/Login_FMBanner1.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: right;
}

TD.hundred
{
    background-color: #006699;
    background-image: url(images/HundredShares.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    text-align: right;
}

.DefaultBg
{
    background-color: #DCF1F1;
    background-image: url(../../images/DefaultBg.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}

.LoginBg
{
    background-color: #DCF1F1;
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}

.LoginTop
{
    background-image: url(../../images/pcc_02.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}

.LoginMenu
{
    background-color: #DCF1F1;
    background-image: url(../../images/pcc_04.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}

TD.topLeft1
{
    background-image: url(../../images/pcc_01.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}

TD.topLeft2
{
    background-image: url(../../images/pcc_02.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: left;
}
TD.topLeft3
{
    background-color: #F7FBFF;
    background-image: url(../../images/pcc_03.gif);
    background-position: left top;
    background-repeat: repeat-x;
    text-align: left;
}
TD.topLeft4
{
    background-color: #DCF1F1;
    background-image: url(../../images/bg-earth.gif);
    background-position: left top;
    background-repeat: repeat-x;
    text-align: left;
}

TD.topMiddle
{
    background-color: #F7FBFF;
    background-image: url(../../images/pcc_03.gif);
    background-position: left top;
    background-repeat: no-repeat;
    text-align: right;
}

TD.topRight
{
    background-color: #F7FBFF;
    background-image: url(../../images/pcc_04.gif);
    background-position: left top;
    text-align: left;
}
TD.treebg
{
    background-color: #E6F5F5;
}

.ActDocTB
{
    font-size: 10pt;
    font-family: Verdana;
    border: 0;
    background-color: #000000;
}
.ActDocTD1
{
    font-size: 10pt;
    font-family: Verdana;
    text-indent: 8pt;
    padding-left: 2pt;
    background-color: #eeeeee;
}
.ActDocTD2
{
    font-size: 10pt;
    font-family: Verdana;
    background-color: #aaaadd;
}
.ActDocTD3
{
    font-size: 10pt;
    font-family: Verdana;
    padding-left: 2pt;
    background-color: #ffffff;
}

.GridTB
{
    font-size: 10pt;
    font-family: Verdana;
    background-color: #FFFFFF;
    border: 1pt solid #000000;
}

.DListHeaderTD
{
    font-size: 10pt;
    font-family: Verdana;
    background-color: #aaaadd;
}
.DListItemTD
{
    font-size: 10pt;
    font-family: Verdana;
    padding-left: 2pt;
    background-color: #ffffff;
}
.DListAlternatingTD
{
    font-size: 10pt;
    font-family: Verdana;
    padding-left: 2pt;
    background-color: #eeeeee;
}
.DGridTD
{
    font-size: 10pt;
    font-family: Verdana;
    padding-left: 2pt;
    padding-right: 2pt;
    padding-bottom: 2pt;
    padding-top: 2pt;
    background-color: #ffffff;
}
.GridItem
{
    padding-left: 5pt;
    padding-right: 5pt;
    padding-bottom: 5pt;
    padding-top: 5pt;
    line-height: 12pt;
}
.off
{
    display: none;
}
.TDShowHeader
{
    font-size: 8pt;
    font-family: Verdana;
    background-color: #FFC3A2;
}
.TDShowItem
{
    font-size: 8pt;
    font-family: Verdana;
    padding-left: 3pt;
    padding-right: 3pt;
    padding-bottom: 3pt;
    padding-top: 3pt;
    line-height: 10pt;
    background-color: #ffffff;
}

.TDShowDiss
{
    font-size: 8pt;
    font-family: Verdana;
    background-color: #d9e0ee;
}

.TxtStyle
{
    color: #000000;
    background: #FFFFFF;
    border: 1px groove #000000; /*平面solid*/
    height: 20px;
}

.TextareaStyle
{
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    height: 300px;
    scrollbar-face-color: #C9DBDC;
    scrollbar-shadow-color: #C3C3C4;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #C3C3C4;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #e0e4ff;
    scrollbar-arrow-color: #ffc575;
}

A.GridHeaderLink:link
{
    font-size: 10pt;
    line-height: 15pt;
    text-decoration: none;
}
A.GridHeaderLink:visited
{
    font-size: 10pt;
    line-height: 15pt;
    text-decoration: none;
}
A.GridHeaderLink:hover
{
    font-size: 10pt;
    line-height: 15pt;
    text-decoration: underline;
}
A.GridHeaderLink:active
{
    font-size: 10pt;
    line-height: 15pt;
    text-decoration: underline;
}

A.TextLink:link
{
    font-size: 9pt;
    color: #000000;
    text-decoration: none;
}
A.TextLink:visited
{
    font-size: 9pt;
    color: #000000;
    text-decoration: none;
}
A.TextLink:hover
{
    font-size: 9pt;
    color: #800000;
    text-decoration: underline;
}
A.TextLink:active
{
    font-size: 9pt;
    color: #800000;
    text-decoration: underline;
}


.bfffa00c
{
    font-weight: bold;
    background: #ffffff;
    color: #aa0000;
    text-align: center;
}
.eee000
{
    background: #eeeeee;
   /*  background-color: #E0FFC1 !important;*/
}
.fff000
{
    background: #ffffff;
}
.ffC000
{
    background: #FFC3A2;
}
.ffd000
{
    background: #fffde3;
}
.808000
{
    background: #808080;
}
.f3f000
{
    background: #F3F3F3;
}
.c4c000
{
    background: #c4c4c4;
}
.f2f000
{
    background: #f2f2f2;
}
.CCC000
{
    background: #CCCCCC;
}
.EBE000
{
    background: #EBEBEB;
}
.f8f000
{
    background: #f8f8f8;
}
.DDE000
{
    background: #D9D9E6;
}
.EEF000
{
    background: #EEEEF5;
}

.9FC000
{
    background: #9fc84d;
}
.E2F000
{
    background: #e2fdc7;
}
.D5D000
{
    background: #d5d549;
}
.E7E000
{
    background: #e7e7a4;
}
.D9D000
{
    background: #d9d974;
}
.A8B000
{
    background: #a8b9ed;
}
.D3D000
{
    background: #d3dbf2;
}
.BDC000
{
    background: #bdcbf7;
}
.000000
{
    background: #000000;
}


.FactBG
{
    background: url(Images/bg-earth.gif);
}

.border
{
    border-right: #015155 1px solid;
    border-top: #015155 1px solid;
    border-left: #015155 1px solid;
    border-bottom: #015155 1px solid;
}

.MaintainAreaItem
{
    background: #99cccc;
}
.MaintainAreaTr
{
    background: #000000;
}
.MaintainAreaTd
{
    background: #D5E2E2;
}
.MaintainAreaTd1
{
    background: #DCE2D3;
}

A.A1:visited
{
    color: purple;
}
A.A1:active
{
    color: lawngreen;
}
A.A1:hover
{
    font-weight: bold;
    color: tomato;
    background-color: #E3E3E3;
}
A.A1.error
{
    color: red;
    text-decoration: none;
    font-family: Verdana, Arial;
}

/*新版首頁之Style*/
.font01
{
    font-family: Arial;
    font-weight: bold;
    color: #B20808;
    font-size: 9pt;
}

.font02
{
    font-family: Arial;
    color: #B20808;
    font-size: 9pt;
}

.font03
{
    font-family: Arial;
    color: #888888;
    font-size: 8pt;
}

.font04
{
    font-family: Arial;
    color: #ffffff;
    font-size: 10pt;
    letter-spacing: 2;
    padding-top: 5;
}

.font05
{
    font-family: 新細明體;
    font-size: 9pt;
    color: #000000; /*letter-spacing:1;*/
    text-align: right;
}

.font06
{
    font-family: 新細明體;
    font-size: 9pt;
    color: #3A3A3A;
    letter-spacing: 1;
    text-align: center;
}

.font07
{
    font-family: Arial;
    color: #B20808;
    font-size: 9pt;
    cursor: pointer;
}

.inputTxt01
{
    font-family: Arial;
    color: #333333;
    font-size: 9pt;
}

.inputTxt02
{
    font-family: 新細明體; /*background-color:#E5E5E5;*/
    font-size: 9pt;
    color: #000000;
    border: 1 inset #808080;
    width: 160;
}

.inputBtn01
{
    font-family: 新細明體;
    font-size: 9pt;
    color: #403E3E;
    background-image: url(../../images/btn_7.gif);
    border: 0 solid #ffffff;
    width: 47;
    height: 20;
    background-repeat: no-repeat;
    background-color: #54B0F7;
    cursor: pointer;
}

.inputBtn02
{
    font-family: 新細明體;
    font-size: 9pt;
    color: #403E3E;
    background-image: url(../../images/btn_8.gif);
    border: 0 solid #ffffff;
    width: 71;
    height: 20;
    background-repeat: no-repeat;
    background-color: #54B0F7;
    cursor: pointer;
}

.inputBtn03
{
    font-family: 新細明體;
    font-size: 9pt;
    color: #403E3E;
    background-image: url(../../images/btn_9.gif);
    border: 0 solid #ffffff;
    width: 101;
    height: 20;
    background-repeat: no-repeat;
    background-color: #54B0F7;
    cursor: pointer;
}

.cssDisplay
{
    display: none;
}

.ButtonStyle
{
    border: thin solid #C6C3DE;
    background-color: #ECEBFA;
    margin-left: 5px;
    width: auto;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: #636363;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.ButtonStyle:hover
{
    border-color: #726E96;
    color: #636363;
    cursor: pointer;
}
.DynamicDialogStyle
{
    background-color: #F7FAFE;
    font-size: small;
}
label
{
    width: 100px;
}
